*{
    padding: 0;
    margin: 0;
}

.wrapper{
    display: grid;
    grid-template-rows: repeat(5, 1fr) ;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    height: 100vh;
}
.item{
    background: red;
}
.item:nth-child(1){
  grid-row: span 2;
  grid-column: span 3;
  background: #FF68D5;
}
.item:nth-child(2), .item:nth-child(3) {
    background: #23ECF9;
    grid-column: span 2;
}
.item:nth-child(4){
    grid-column: span 5;
}
.item:nth-child(5){
    background: #23ECF9;
    grid-row: span 2;
}
.item:nth-child(7){
    background: #23ECF9;
    grid-column: span 2;
}
.item:nth-child(10){
    grid-column: span 3;
    background: #8DFF65;
}
.item:nth-child(6),.item:nth-child(8),.item:nth-child(9){
    background: #330BD0;
}